mixin section( title, img, link)
   article.project_section__block
      img( src='assets/data/main/#{img}.webp').project_section__img
      .project_section__title !{title}
      a( href='#{link}' target='_blank').project_section__link
         span Войти
      .project_section__triggers
         .project_section__text( data-popup='#{img}-modal') Подробнее
         .project_section__text( data-popup='#{img}-video') Видео
